<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    convertDeprecationsToExceptions="true"
    convertWarningsToExceptions="true"
    convertErrorsToExceptions="true"
    failOnWarning="true"
    failOnRisky="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
        <testsuite name="security">
            <directory>tests/security</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">wordpress/wpforge/src</directory>
        </include>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <env name="WP_TESTS_DOMAIN" value="example.org"/>
        <env name="WP_TESTS_EMAIL" value="admin@example.org"/>
        <env name="WP_TESTS_TITLE" value="WPForge Tests"/>
        <env name="WP_TESTS_TABLE_PREFIX" value="wp_"/>
    </php>
</phpunit>
